.system-manage {
	background-image: url( ../images/icons/system-manage.png );
}

.base-config {
	background-image: url( ../images/icons/base-config.png );
}

.tab-left {
	position: absolute;
	top: 0;
	left: 0;
	width: 9px;
	height: 29px;
	background: url(../images/tabs.png) no-repeat -8px -141px;
	z-index: 3;
}

.tab-right {
	position: absolute;
	right: 0;
	top: 0;
	width: 26px;
	height: 29px;
	background: url(../images/tabs.png) no-repeat 0 -239px;
	z-index: 5;
}

.tab-middle {
	z-index: 5;
	position: relative;
	padding: 6px 3px 0 6px;
	margin: 0 7px;
	background: url(../images/tabs.png) repeat-x 0 -173px;
	height: 29px;
	overflow: hidden;
	white-space: nowrap;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
		sans-serif;
	font-weight: bold;
	font-size: 11px;
}