.warehouse-management {
	background-image: url( ../images/icons/warehouse-management.png ) !important;
}
.purchase-management {
	background-image: url( ../images/icons/purchase-management.png ) !important;
}
.purchase-bill-management {
	background-image: url( ../images/icons/purchase-bill-management.png ) !important;
}
.purchase-warehousing {
	background-image: url( ../images/icons/purchase-warehousing.png ) !important;
}
.purchase-return {
	background-image: url( ../images/icons/purchase-return.png ) !important;
}
.consign-process {
	background-image: url( ../images/icons/consign-process.png ) !important;
}
.consign-draw-material {
	background-image: url( ../images/icons/consign-draw-material.png ) !important;
}



.system-management {
	background-image: url( ../images/icons/system-manage.png );
}

.basic-setting{
	background-image: url( ../images/icons/base-config.png );
}


.tab-left {
	position: absolute;
	top: 0;
	left: 0;
	width: 9px;
	height: 29px;
	background: url(../images/tabs.png) no-repeat -8px -141px;
	z-index: 3;
}

.tab-right {
	position: absolute;
	right: 0;
	top: 0;
	width: 26px;
	height: 29px;
	background: url(../images/tabs.png) no-repeat 0 -239px;
	z-index: 5;
}

.tab-middle {
	z-index: 5;
	position: relative;
	padding: 6px 3px 0 6px;
	margin: 0 7px;
	background: url(../images/tabs.png) repeat-x 0 -173px;
	height: 29px;
	overflow: hidden;
	white-space: nowrap;
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
		sans-serif;
	font-weight: bold;
	font-size: 11px;
}