
div{
/*width:100px;
*/
font-size: 9px;
font-family:黑体;
font-weight:bold;
}
/*打印单据标题*/
div.caption { 
	padding: 0 0 5px 0; 
	font-size:15px;
	font-weight:bold;
	text-align: center; 
}
div.field{
	left:0px;
	top: 0px;
	/*内容超过规定宽度时是否换行*/
	white-space: nowrap; 
	/*内容超过规定宽度时截取超长部分*/
	overflow:hidden;
	padding: 6px 6px 6px 12px; 
	
}
/*打印元素分页该元素后面内容会在另外页打印*/
div.nextPage{
	page-break-after:always;
}
/*下一行开始*/
div.nextLine{
	clear: both;
}
table{
 font-size: 9px;
 border-left: none;
 border-right: none ;
 border-top: 1px solid ;
 border-bottom: 1px solid ;
 width:100%;
 position: relative;
 border-collapse:collapse;
}
th {  
 font: bold 9px ; 
 border: none ; 
 letter-spacing: 2px; 
 text-transform: uppercase; 
 text-align: left; 
 padding: 6px 6px 6px 12px; 
}
td{
 border: none ; 
 letter-spacing: 2px; 
 text-transform: uppercase; 
 text-align: left; 
 padding: 6px 6px 6px 12px; 
}
